{% extends 'base.html' %}

{% block content %}


  {% if user.is_authenticated %}

  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th style="display:none"class="text-center" scope="col">ID</th>
        <th class="text-center" scope="col">INDUSTRY</th>
        <th class="text-center"  scope="col">BUSINESS NAME</th>
        <th class="text-center"  scope="col">FIRST NAME</th>
        <th class="text-center"  scope="col">LAST NAME</th>
        <th class="text-center"  scope="col">EMAIL</th>
        <th class="text-center"  scope="col">PHONE</th>
        <th class="text-center"  scope="col">ADDRESS</th>
        <th class="text-center"  scope="col">CITY</th>
        <th class="text-center"  scope="col">STATE</th>
        <th class="text-center"  scope="col">ZIP CODE</th>
        <th class="text-center"  scope="col">ACTION(S)</th>
      </tr>
    </thead>
    <tbody>
      {% if records %}
        {% for record in records %}
          <tr>
            <td>{{ record.industry }}</td>
            <td>{{ record.business_name }}</td>
            <td>{{ record.first_name }}</td>
            <td>{{ record.last_name }}</td>
            <td>{{ record.email }}</td>
            <td>{{ record.phone }}</td>
            <td>{{ record.address }}</td>
            <td>{{ record.city }}</td>
            <td>{{ record.state }}</td>
            <td>{{ record.zipcode }}</td>
            <td>
              <a href="{% url 'record' record.id %}" class="btn btn-primary btn-sm" role="button" data-bs-toggle="button">VIEW</a>
              <a href="#" class="btn btn-secondary btn-sm" role="button" data-bs-toggle="button">EDIT</a>
            </td>
    
          </tr>
        {% endfor %}
      {% endif %} 
    </tbody>
  </table>


  {% else %}
  <h1>LOGIN</h1>
  <form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
      <div class="mb-3">
        <input type="text" class="form-control" name="username" placeholder="USERNAME" required>
      </div>

      <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="PASSWORD" required>
      </div>

      <button type="submit" class="btn btn-secondary">LOGIN</button>
    </form>
  </form>
  {% endif %}


{% endblock %}
